/* ! header component buoniCalculator */
header h1 {
    text-align: left;
    padding: 30px;
}

.logo {
    background-image: url('../../public/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 15px;
    border-radius: 70px;
    z-index: 1;
}
.logo-nav{
    background-image: url('../../public/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    border-radius: 70px;
    z-index: 1;
}

.vaucher-option {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.vaucher-option label {}

.vaucher-option input {}

/* ! shop list section style */
.title-shop-list {
    display: flex;
    align-items: center;
    margin: 30px 0 6px 0;
}

.title-shop-list svg {
    fill: #004b6c;
    margin-right: 14px;
    width: 30px;
    height: 30px;
    position: relative;
    top: -3px;
}

.title-shop-list h4 {
    font-weight: bold;
    color: #004b6c;
}

.list-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 28px;
}
.list-header h4{
    font-weight: bold;
    color: #004b6c;
}
.list-header svg{
    fill: #004b6c;
    width: 30px !important;
    height: 30px !important;
    position: relative;
    top: -3px !important;
}

.list-header .icons {
    width: 15px;
    height: 21px;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.shoplist-option {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.list-content table {
    margin: 30px auto;
    text-align: left;
}
.list-content svg{
    fill: #cb2d02;
}

.list-content ul {
    display: flex;
}

.list-content li {
    list-style-type: none;
    text-align: left;
}

.totals-display {
    text-align: left;
}

.totale-spesa {
    color: #feb027;
    font-weight: bold;
}

.buoni p{
    font-weight: 200;
    font-size: 17px;
}

.buoni span {
    color: #004b6c;
    font-weight: 500;
    margin: 0 4px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}